body {
  font-family: "Noto Sans TC",sans-serif,serif;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1{
	background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/logo.png?raw=true);
  background-size: cover;
  width: 245px;
  height: 40px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}