body {
  font-family: "Noto Sans TC", sans-serif, serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/logo.png?raw=true);
  background-size: cover;
  width: 245px;
  height: 40px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

// 常用文字設定
.font-style1 {
  font-weight: $font-weight-bolder; // 900
  line-height: $line-height-sm; // 1.2
}
.font-style1-h3 {
  font-weight: $font-weight-bolder; // 900
  line-height: $line-height-sm; // 1.2
  font-size: $h3-font-size; // 32
}
// 按鈕設定
.btn-style-class {
  .btn-outline-black-60 {
    line-height: 1.5;
    border: none;
    &:hover, &:focus, &active {
      background: $black-20;
      color: $black-100;
      font-weight: $font-weight-bold;
      box-shadow: none;
    }
  }
}

.pricing-card {
  background: $body-bg;
  border-color: $black-80;
  .card-body {
    padding: $spacer * 5 $spacer * 2.5;
    .card-title {
      font-size: $h3-font-size;
      margin: $spacer * 1.25 0;
    };
    p {
      color: $black-20;
    }
  }
}
.avatar-card {
  background: rgba(255, 255, 255, 0.08);
  border: none;
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
  .card-body {
    padding: $spacer * 2.5;
    .stars {
      i {
        font-size: $font-size-base;
        margin-right: $spacer / 4;
      }
    };  
    .stars+p {
      padding-bottom: $spacer * 3;;
    };
    img {
      margin-right: $spacer;
    }
  }
}

.logobar {
  position: relative;
  img {
    max-width: $spacer * 10;
    margin: 0 $spacer * 0.625;
  }
  .gradient {
    width: $spacer * 12.25;
    height: 100%;
    background:linear-gradient( to right, $black, transparent 100%);
    position: absolute;
  }
  .left {
    left: 0;
  }
  .right {
    background:linear-gradient( to left, $black, transparent 100%);
    right: 0;
  }
}

select {
  max-width: 50px;
}