body {
  font-family: "Noto Sans TC", sans-serif, serif;
  line-height: $line-height-base;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/logo.png?raw=true);
  background-size: cover;
  width: 245px;
  height: 40px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  &.logo-sm {
    @media (max-width: $md-breakpoint) {
      width: 147px;
      height: 24px;
    }
  }
}

.row {
  @include media-breakpoint-down(md) {
    .col-none {
      width: auto;
      padding: 0;
    }
    .col {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

.fs-1 {
  @media (max-width: $md-breakpoint) {
    font-size: $h3-font-size  !important;
  }
}

.fs-8 {
  @media (max-width: $md-breakpoint) {
    font-size: $h1-font-size  !important;
  }
}

.fs-9 {
  @media (max-width: $md-breakpoint) {
    font-size: $h3-font-size  !important;
  }
  &.footer-font {
    @media (max-width: $md-breakpoint) {
      font-size: $h1-font-size  !important;
    }    
  }
  &.material-icons {
    @media (max-width: $md-breakpoint) {
      font-size: $d3-font-size  !important;
    }
  }
}

.mb-9 {
  @media (max-width: $md-breakpoint) {
    margin-bottom: $spacer * 7.5 !important;
  }
}

.mb-9 {
  @media (max-width: $md-breakpoint) {
    margin-bottom: $spacer * 7.5 !important;
  }
}

.rounded-4 {
  @media (max-width: $md-breakpoint) {
    border-radius: $spacer * 1.25 !important;
  }
}

// 常用文字設定
.font-style1 {
  font-weight: $font-weight-bolder; // 900
  line-height: $line-height-sm; // 1.2
}

.font-style1-h3 {
  font-weight: $font-weight-bolder; // 900
  line-height: $line-height-sm; // 1.2
  font-size: $h3-font-size; // 32
  @media (max-width: $md-breakpoint) {
    font-size: $h6-font-size;
  }
}