// 顏色
$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-40: #D1D1D1;
$black-20: #F2F2F2;
$black-0: #FFFFFF;
$primary: #F18724;
$surface: #F2EFE7;

// 字體
$font-family-main: "Noto Sans TC";
// 文字大小
$font-size-base: 16px;

$font-size-ti: $font-size-base * .75;
$font-size-sm: $font-size-base * .875;

$d1-font-size: $font-size-base * 10;
$d2-font-size: $font-size-base * 7.5;
$d3-font-size: $font-size-base * 5;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;
// 文字粗細
$font-weight-black: 900;
// 行高
$line-height-sm: 1.2;